*{
  padding: 0px;
  margin: 0px;
}

body{
  background: #F5F0EB;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
  padding: 20px;
  box-shadow: 0 2px 6px rgba(90, 62, 54, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  font-weight: 700;
  font-size: 28px;
  color: #5A3E36;
  padding-left: 15px;
}

nav a{
  padding-left: 10px;
  color: #5A3E36;
  text-decoration: none;
  font-weight: 500;
  padding-right: 20px;
  transition: 0.3s;
}

nav a:hover{
  color: #A48A7E;
}

.hero{
  position: relative;
  height: 320px;
  background: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhbnR8ZW58MHx8MHx8fDA%3D") center/cover no-repeat;
  border-radius: 15px;
  color: #F5F0EB;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 10px;
  padding-left: 40px;
  box-shadow: 0 8px 20px rgba(90, 62, 54, 0.5);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;  
  bottom: 0;
  right: 0;
  background: rgba(90, 62, 54, 0.5);
  border-radius: 15px;
  z-index: 0;
}

.hero h2{
  position: relative;
  color: #F5F0EB;
  z-index: 1;
  margin-bottom: 10px;
  font-size: 44px;
}

.hero p{
  position: relative;
  color: #F5F0EB;
  margin-bottom: 10px;
  font-size: 17px;
  z-index: 1;
}

main h1{
  font-weight: 700;
  font-size: 28px;
  color: #5A3E36;
  text-align: center;
}

.poslugi{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product{
  background: #D6C9C3;
  border-radius: 15px;
  width: 220px;
  height: 270px;
  padding: 10px;
  transition: 0.6s;
  box-shadow: 0 4px 10px rgba(90, 62, 54, 0.15);
}

.product:hover{
  box-shadow: 0 8px 20px rgba(90, 62, 54, 0.5);
  transform: scale(1.03) translateY(-10px);
}

.product img{
  border-radius: 10px;
}

.product h4{
  color: #5A3E36;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;;
  padding-bottom: 10px;
  padding-left: 10px;
}

.product p{
  color: #A48A7E;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 10px;
}

.product b{
  color: #5A3E36;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background: #A48A7E;
  margin: 10px;
  border-radius: 5px;
  padding: 4px;
  transition: 0.7s;
}

.product b:hover{
  color: #F5F0EB;
  background: #5A3E36;
}

.vidgyki{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}

.vidguk{
  border-left: 5px solid #A48A7E;
  padding: 10px;
  margin: 30px;
  transition: 0.7s;
}

.vidguk:hover{
  transform: scale(1.04) translateY(-15px);
}

.stars{
  padding-bottom: 10px;
}

.text{
  padding-bottom: 10px;
}

.about{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.about_text{
  color: #A48A7E;
  font-weight: 600;
}

.contact{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.contact_text{
  color: #A48A7E;
  padding-bottom: 10px;
  font-weight: 600;
}

footer{
  background: #5A3E36;
  padding: 35px;
  padding-top: 35px
}

footer h1{
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}
